$themeColor: #00568f;
$lightThemeColor: rgba(0, 86, 143, 0.9);
$lighterThemeColor: rgba(0, 86, 143, 0.7);
$darkThemeColor: rgba(0, 56, 94, 0.8);

$lightGrey: rgba(211, 211, 211, 0.2);

$dangerColor: #d9534f;
